# Configuracoes Django
DJANGO_SECRET_KEY=troque-esta-chave-em-producao
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver,10.22.0.34

# Configuracoes MySQL
MYSQL_DATABASE=minhasfinancas
MYSQL_USER=minhasfinancas_user
MYSQL_PASSWORD=troque-esta-senha
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
